name: Tugas Pipeline DevSecOps
on: [push]
jobs:
  unit-test:
    name: Unit Test (pytest)
    runs-on: [self-hosted, Linux, x64]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest

      - name: Run Pytest
        run: pytest
  sast-bandit:
    name: SAST Scan (Bandit)
    runs-on: [self-hosted, Linux, x64]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit Scan
        run: bandit -r . -ll -f json -o bandit-report.json
